.organisation-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

@media (max-width: 1200px) {
  .organisation-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .organisation-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .organisation-list-grid {
    grid-template-columns: 1fr;
  }
}

.org-card {
  max-width: 320px;
  width: 100%;
  min-height: 280px;
  margin: 60px;
  padding: 2rem 1rem 1.5rem 1rem;
}
